<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Plan Paciente</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/planMedico.css}">
</head>

<body>
<div align="center">
    <img src="/images/header.jpg" alt="FarmaciaHeader">
</div>

<div class="navbar">
    <span th:text="${session.usuarioId}">USUARIO</span>
    <a href="/logout">LOGOUT</a>
</div>

<h2 class="titulo-farmacia">
    Farmacia: <span th:if="${farmacia != null}" th:text="${farmacia.nombre}"></span>
</h2>

<div align="center" class="seccion-busqueda">
    <form action="/presentation/planMedico/refrescar" method="get">
        <label class="label-naranja"><b>Paciente:</b></label>
        <input type="text" name="pacienteId" th:value="${pacienteId}" />
        <button type="submit">Buscar</button>
        <span th:if="${paciente != null}" th:text="${paciente.nombre}" class="nombre-paciente"></span>
        <span th:if="${errorPaciente != null}" th:text="${errorPaciente}" class="error-paciente"></span>
    </form>
</div>

<div th:if="${medicamentos != null}" align="center" class="seccion-medicamentos">

    <div th:if="${errorEntrega != null}" class="error-entrega" th:text="${errorEntrega}"></div>

    <br>

    <form action="/presentation/planMedico/medicamento/registrar" method="post">
        <input type="hidden" name="pacienteId" th:value="${pacienteId}" />

        <label class="label-naranja"><b>Medicamento:</b></label>
        <select name="pacientemedicamentoId">
            <option th:each="pacientemedicamento : ${medicamentos}"
                    th:value="${pacientemedicamento.id}"
                    th:text="${pacientemedicamento.medicamento.nombre} + ' (' + ${pacientemedicamento.medicamento.plan} + ' + 1) [' + ${pacientemedicamento.dosisafavor} + ']'">
            </option>
        </select>

        <label class="label-naranja"><b>Cant. Dosis:</b></label>
        <input type="number" name="cantidad" value="1" min="1" class="input-cantidad"/>

<!--        Esto es profe, es para que pueda tomar la info del mismo form.-->
        <button type="submit" formaction="/presentation/planMedico/medicamento/registrar">Registrar</button>
        <button type="submit" formaction="/presentation/planMedico/medicamento/entregar">Entregar</button>
    </form>

</div>

<div class="footer">
    Todos los derechos reservados. 2026. TotalSoft Inc. info@tsinc.com
</div>

</body>
</html>