<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Plan Paciente</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>

<div align="center">
    <img src="/images/header.jpg" alt="FarmaciaHeader">
</div>

<div class="login-container">
    <div class="navbar-ingreso">
        INGRESO
    </div>

    <div th:if="${error}" class="error" th:text="${error}"></div>

    <form action="/login" method="post" align="center">
        <img src="/images/login.png" alt="Imagen_login"><br><br>
        <table align="center">
            <tr>
                <td class ="td-label"><b>Id</b></td>
                <td><input type="text" name="usuarioId" /></td>
            </tr>
            <tr>
                <td class ="td-label"><b>Clave</b></td>
                <td><input type="password" name="password" /></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <button type="submit">Ingresar</button>
                </td>
            </tr>
        </table>
    </form>

    <div class="footer">
        Todos los derechos reservados. 2026. TotalSoft Inc. info@tsinc.com
    </div>
</div>
</body>
</html>