<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Plan Pacientes</title>

</head>
<body>
<div class="login-container">
    <div style="background:#004080; color:white; padding:8px; text-align:center;">
        INGRESO
    </div>

    <div th:if="${error}" class="error" th:text="${error}"></div>

    <form action="/login" method="post">
        <table style="margin:auto;">
            <tr>
                <td style="color:orange;"><b>Id</b></td>
                <td><input type="text" name="usuarioId" /></td>
            </tr>
            <tr>
                <td style="color:orange;"><b>Clave</b></td>
                <td><input type="password" name="password" /></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center;">
                    <button type="submit">Ingresar</button>
                </td>
            </tr>
        </table>
    </form>

    <div style="text-align:center; margin-top:30px; font-size:12px;">
        Todos los derechos reservados . 2026 . TotalSoft Inc. info@tsinc.com
    </div>

</div>
</body>
</html>